{% extends 'chat/base.html' %}

{% block title %}{{room.title}}{%endblock title %}

{% block content %}
{% load staticfiles %}

<!--
<div>
<a href="{% url 'home'%}" class="back-button"><i class="fa fa-arrow-left fa-2x"></i></a>
</div>-->
<div class="row">

    <nav class="col-md-2 bg-light sidebar">
        <div class="sidebar-sticky">
            <div class="flex-column sidebardiv">
                {% for room in all_rooms %}
                <a href="{{room.get_absolute_url}}" style="text-decoration: none;">
                    <div class="text-left py-2">{{room.title}}</div>
                    {% with room.message_set.last as msg%}
                    {% if msg %}
                        <div class="d-flex justify-content-between text-muted">
                            <div>
                              {{msg.author}}
                            </div>
                            <div>
                              {% include "chat/timestamp.html"%}
                            </div>
                        </div>
                    {% endif %}
                    {% endwith%}
                </a>
                 <hr/>
                {% endfor %}

            </div>
        </div>
    </nav>

<div class="frame">
    <ul id="messages">
    {% for msg in messages %}

            {% if msg.author == user%}
            <li style="width:100%">
                <div class="msj macro">
                   <div class="avatar"><!--<img class="img-circle" style="width:100%;" src="'+ me.avatar +'" />--><p><small>{{msg.author.first_name}}</small></p></div>
                        <div class="text text-l">
                                <p>{{msg.text}}</p>
                               {% include "chat/timestamp.html" with msg=msg %}
                        </div>

                </div>
            </li>
            {% else %}
            <li style="width:100%">
                <div class="msj-rta macro">

                        <div class="text text-r">
                                <p>{{msg.text}}</p>
                                {% include 'chat/timestamp.html' with msg=msg%}
                        </div>
                    <div class="avatar"><!--<img class="img-circle" style="width:100%;" src="'+ me.avatar +'" />--><p><small>{{msg.author.first_name}}</small></p></div>
                </div>
            </li>
            {% endif %}

    {% endfor %}
    </ul>
    <div class="chatform">
    <form autocomplete="off">
        <div class="row">
            <div class="col-md-3 ml-auto">
            {{form.as_p}}
            </div>
            <div class="col-md-3 mr-auto">
                <button id="id_send" type="submit">Send</button>
            </div>
        </div>
    </form>
</div>
</div>

</div>



{% endblock content %}

{% block script%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
<script>
    var room=window.location.pathname.slice(6).slice(0,-1);
    var socket = new WebSocket('ws://' + window.location.host + '/chat/' + room);
    var owner=false;

    socket.onopen = function open() {
      console.log("connected");
    };

    socket.onmessage = function(e) {
        var date="just now";
        var data=JSON.parse(e.data)
        console.log(data["msg"])
        if(owner){
            var message=$("<li style='width:100%'><div class='msj macro'><div class='avatar'>              <p><small>" + data['author'] +"</small></p></div><div class='text text-l'><p>" + data['msg'] +"</p> <p><small>"+ date +"</small></p></div></div></li>");
            owner=false;
            }
         else{
            var message=$("<li style='width:100%'><div class='msj-rta macro'><div class='text text-r'><p>" + data['msg'] +"</p> <p><small>"+ date +"</small></p></div><div class='avatar'><p><small>" + data['author'] +"</small></p></div></div></li>");

         }
        $('#messages').append(message);
    }

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

    $("form").submit(function(){
        var m=$("#id_text").val();
        owner=true;
        socket.send(m);
        var csrftoken=Cookies.get('csrftoken');
        $.post(window.location.pathname, {'text':m, 'csrfmiddlewaretoken': csrftoken}, function(result){

        });

        $("#id_text").val("");
        return false;
    })
  </script>
{% endblock script%}