{% extends 'chat/base.html' %}

{% block title %}Babbler{%endblock title %}

{% block content %}
<div>
        <input id="id_message" autocomplete="off"/><button id="id_send">Send</button>

</div>
<div id="id_chat">

</div>
{% endblock content %}

{% block script%}
<script>
    var socket = new WebSocket('ws://' + window.location.host + '/chat/');
    socket.onopen = function open() {
      console.log("connected");
    };

    socket.onmessage = function(e) {
        var messagediv=$("<div>"+e.data+"</div>")
        $('#id_chat').append(messagediv);
    }

    if (socket.readyState == WebSocket.OPEN) {
      socket.onopen();
    }

    $("#id_send").on("click", function(){
        var m=$("#id_message").val();
        socket.send(m);
        $("#id_message").val("");
    })
  </script>
{% endblock script%}