{% extends 'chat/base.html'%}

{% block header_text %}Welcome to Babbler{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% for room in rooms %}
    <p class="room"><a href="{{room.get_absolute_url}}">{{room.title}}</a></p>
    {% endfor %}
    <p><a href="{% url 'new_room' %}">Create a new room</a></p>
{% else %}
    <form method="POST" id="id_login_form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" id="id_login">Log in</button>
    </form>
{% endif %}

{% endblock %}