{% extends 'chat/base.html'%}

{% block header_text %}
{% if user.is_authenticated %}
{% else %}
    Welcome to Babbler
{% endif %}
{% endblock %}
{% block content %}

{% if user.is_authenticated %}

    <div class="new_room_button_div">
        <a href="{% url 'new_room' %}" class="add-new-room"><button class="btn btn-primary btn-circle"><i class="fa fa-plus"></i></button></a>
    </div>
    <div>
    {% for room in rooms %}
        <a href="{{room.get_absolute_url}}"><div class="room">{{room.title}}
            {% with room.message_set.last as msg%}
                {{msg.author.first_name}}
                {{msg.pub_date|timesince}} ago
            {% endwith %}
        </div></a>
    {% endfor %}
    </div>
{% else %}
    <form method="POST" id="id_login_form">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" id="id_login" class="btn btn-secondary">Log in</button>
    </form>
{% endif %}

{% endblock %}