body {
  font: 13px Helvetica, Arial;
  text-align: center
}


form {
    position: absolute;
    bottom: 2%;
    width:70%;
    margin-left: 15%;
}

form input {
    width: 60%;
    padding: 10px;
}

form button {
    width: 10%;
    padding: 10px;
}

#messages {
  list-style-type: none;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
